* {
  margin: 0;
  padding: 0;
}
.tooltip {
  background: #3c456a !important;
}
.pc,
.phone {
  display: none;
}
@media screen and (min-width: 769px) {
  body {
    width: 1920px;
    background-color: #f2f4f8;
  }

  .layout,
  .pc {
    display: flex;
  }

  .aside {
    width: 290px;
    height: 940px;
    background: #ffffff;
    border-radius: 0px 50px 50px 0px;
    padding: 47px 0 29px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .aside .logo {
    width: 100px;
    margin-bottom: 34px;
  }

  .aside .item {
    display: flex;
    align-items: center;

    width: 231px;
    height: 65px;
    padding-left: 16px;
  }

  .aside .item.active {
    color: #fff;
    background: #3b446a;
    border-radius: 21px 21px 21px 21px;
  }

  .aside .item img {
    width: 26px;
    margin-right: 12px;
  }

  .aside .hr {
    width: 229px;
    height: 0px;
    opacity: 1;
    border: 1px solid #707070;
  }

  .aside .hr1 {
    margin-top: 20px;
  }

  .aside .aside-bg {
    margin-top: 33px;
    width: 235px;
  }

  .aside a {
    color: #707070;
    text-decoration: none;
  }

  .aside-bg1 {
    display: none;
  }

  .aside .fold {
    width: 36px;

    position: absolute;
    bottom: 70px;
    right: -18px;
    cursor: pointer;
  }

  .aside.hide,
  .aside.hide .item,
  .aside.hide .hr {
    width: 105px;
  }

  .aside.hide .item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aside.hide .item.active {
    background: none;
    background-color: #D3DBEB;
  }

  .aside.hide span,
  .aside.hide .aside-bg {
    display: none;
  }

  .aside.hide .aside-bg1 {
    display: block;
    margin-top: 76px;
    width: 60px;
  }

  .aside.hide .logo {
    width: 55px;
  }

  .aside.hide .fold {
    transform: rotate(180deg);
  }

  .container {
    flex: 1;
    padding: 37px;
    display: flex;
    flex-direction: column;
  }

  .header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .search {
    width: 630px;
    height: 70px;
    padding: 22px 39px 17px 35px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 20px 20px 20px 20px;
    opacity: 1;

    display: flex;
    align-items: center;
  }

  .search img {
    width: 18px;
    margin-right: 14px;
  }

  .search input {
    font-size: 19px;
    flex: 1;
    border: none;
    outline: none;
  }

  .search .text {
    font-size: 21px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #262c3f;
    padding-left: 32px;
    box-sizing: border-box;
  }

  .hello {
    display: flex;
    align-items: center;
  }

  .hello img {
    width: 68px;
    margin-left: 13px;
  }

  .hello span {
    font-size: 40px;
  }

  .hello span:last-child {
    margin-left: 13px;
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: #f2f4f8;
    padding: 0 6vw;
    box-sizing: border-box;
  }
  .phone {
    display: block;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15vw;
  }
  .header img:nth-child(1) {
    width: 4vw;
  }
  .header img:nth-child(2) {
    width: 10vw;
  }
  .header img:nth-child(3) {
    width: 6vw;
  }

  .headers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    background-color: #3b446a;
  }
  .headers .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15vw 9vw 8vw;
  }
  .headers .top img:nth-child(1),
  .headers .top img:nth-child(3) {
    width: 6vw;
  }
  .headers .top img:nth-child(2) {
    width: 10vw;
  }

  .headers .con {
    padding: 0 10vw;

    word-wrap: break-word;
    word-break: normal;
  }
  .headers .con div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
  }
  .headers .con img {
    width: 25vw;
    height: 7vw;
  }
  .headers .con div p {
    display: flex;
    align-items: center;
  }
  .headers .con div p input {
    /* outline: none; */
    height: 4vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border: none;
    background-color: #3b446a;
    border-bottom: 1px solid rgba(255, 255, 255, 0.64);
  }
  .headers .con div p img {
    padding-bottom: 2vw;
    width: 4vw;
    height: 4vw;
    min-width: 4vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.64);
  }

  .headers .con div.qw {
    justify-content: flex-end;
  }
  .headers .con div.qw img {
    width: 7vw;
    margin-left: 1vw;
  }
}
