.main {}

@media screen and (min-width: 769px) {
    .top {
        height: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 74px 0 34px;
        font-size: 16px;
        color: #3B446A;
        border: 1px solid #3C456A;
        border-left: none;
        border-right: none;
    }

    .top .flex {
        flex: 1;
    }

    .top span:nth-child(1) {
        width: 158px;
        height: 46px;
        background: #3B446A;
        border-radius: 8px 8px 8px 8px;
        opacity: 1;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .con {
        background: #FFFFFF;
        border-radius: 78px 78px 78px 78px;
        opacity: 1;
        padding: 50px 40px;
        margin-top: 37px;
        display: flex;
    }

    .con>div {
        flex: 1;
        margin-right: 50px;
    }

    .con>div:last-child {
        margin-right: 0;
    }

    .con .title {
        font-size: 24px;
        color: #3B446A;
        text-align: center;
        margin-bottom: 40px;
    }

    .con .list {
        background: #E2E9F8;
        border-radius: 25px 25px 25px 25px;
        opacity: 1;
        color: #3B446A;
        padding: 24px;
    }

    .con .item {
        font-size: 12px;
        background: #FFFFFF;
        border-radius: 25px 25px 25px 25px;
        margin-bottom: 20px;
        padding: 28px 20px 25px;
    }

    .con .item div {
        padding-left: 20px;
    }

    .con .item .a {
        font-size: 19px;
        margin-top: 22px;
    }

    .con .item .c {
        margin: 25px 0;
    }

    .con .item .d {
        border-top: 1px solid #707070;
        padding-top: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .as > .top .search {
        width: 30vw;
        height: 8vw;
        padding: 1vw 2vw;
        box-sizing: border-box;
        background: #ffffff;
        border-radius: 2vw;
        opacity: 1;
        display: flex;
        align-items: center;
    }

    .as > .top .search input {
        width: 1vw;
        flex: 1;
        border: none;
        outline: none;
        margin-right: 10px;
    }

    .as > .top .search img {
        width: 18px;
    }

    .as > .top {
        font-size: 2vw;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #3B446A;
        padding-bottom: 2vw;
        border-bottom: 1px solid #3C456A;
    }

    .as > .top .flex {
        flex: 1;
    }

    .as > .top span:nth-child(1) {
        width: 21vw;
        height: 6vw;
        background: #3B446A;
        border-radius: 1vw;
        opacity: 1;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .as > .con {
        opacity: 1;
        display: flex;
    }

    .as > .con>div {
        flex: 1;
        margin-right: 50px;
    }

    .as > .con>div:last-child {
        margin-right: 0;
    }

    .as > .con .title {
        font-size: 24px;
        color: #3B446A;
        text-align: center;
        margin-bottom: 40px;
    }

    .as > .con .list {
        background: #E2E9F8;
        border-radius: 25px 25px 25px 25px;
        opacity: 1;
        color: #3B446A;
        padding: 24px;
    }

    .as > .con .item {
        font-size: 12px;
        background: #FFFFFF;
        border-radius: 25px 25px 25px 25px;
        margin-bottom: 20px;
        padding: 28px 20px 25px;
    }

    .as > .con .item div {
        padding-left: 20px;
    }

    .as > .con .item .a {
        font-size: 19px;
        margin-top: 22px;
    }

    .as > .con .item .c {
        margin: 25px 0;
    }

    .as > .con .item .d {
        border-top: 1px solid #707070;
        padding-top: 20px;
        padding-right: 20px;
    }

    .el-tooltip{
        background: none !important;
        font-size: 5vw !important;
        text-align: left !important;
        margin-bottom: 0 !important;
        padding: 2vw !important;
    }

    .tooltip{
        font-size: 4vw !important;
    }
    .tooltip p{
        margin-bottom: 2vw !important;
    }
}