<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link rel="stylesheet" href="./css/common.css?v=1" />
    <link rel="stylesheet" href="./css/calendar.css?v=1" />

    <!-- External Style Sheets -->
    <!-- <link href="./js/element.css" /> -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
  </head>

  <body>
    <!-- layout -->
    <div class="layout" id="app">
      <div class="pc">
        <!-- aside -->
        <div class="aside" :class="{'hide': hide}">
          <img src="./img/logo.png" class="logo" />

          <div class="list">
            <a href="./index.html" class="item">
              <img src="./img/icon-1.png" />
              <span>Dashboard</span>
            </a>
            <a href="./Books.html" class="item">
              <img src="./img/icon-2.png" />
              <span>Books</span>
            </a>
            <a href="./Calendar.html" class="item active">
              <img :src="hide ? './img/icon-3.png' : './img/icon-3-1.png'" />
              <span>Calendar</span>
            </a>
            <a href="./Tasks.html" class="item">
              <img src="./img/icon-4.png" />
              <span>Tasks</span>
            </a>
            <a href="./Timer.html" class="item">
              <img src="./img/icon-5.png" />
              <span>Timer</span>
            </a>
            <a class="item">
              <img src="./img/icon-6.png" />
              <span>Notification</span>
            </a>
            <a href="./Message.html" class="item">
              <img src="./img/icon-7.png" />
              <span>Message</span>
            </a>

            <div class="hr hr1"></div>
            <div class="item">
              <img src="./img/icon-8.png" />
              <span>Setting</span>
            </div>
            <div class="hr"></div>
          </div>

          <img src="./img/icon-12.png" class="aside-bg" />

          <img src="./img/icon-9.png" class="aside-bg1" />

          <img src="./img/icon-11.png" class="fold" @click="hide = !hide" />
        </div>

        <!-- container -->
        <div class="container">
          <!-- header -->
          <div class="header">
            <!-- search -->
            <div class="search">
              <img src="./img/icon-5.png" />
              <input type="text" placeholder="Course title or keywords " />
              <div class="text">
                <span>Courses</span>
                <span>▼</span>
              </div>
            </div>

            <!-- hello -->
            <div class="hello">
              <span> Hello, <b>Huanyi</b> </span>
              <img src="./img/icon-13.png" />
              <img src="./img/icon-14.png" />
              <img src="./img/icon-15.png" />
              <img src="./img/icon-16.png" />
              <span> Huanyi H. </span>
            </div>
          </div>

          <!-- main -->
          <div class="main">
            <div class="l">
              <div class="title">
                <div>June 2022</div>

                <p>
                  <span class="red">Study</span>
                  <span class="green">Work</span>
                  <span>+</span>
                </p>
              </div>
              <el-table :data="calendar">
                <el-table-column property="Sunday" label="Sunday">
                  <template slot-scope="scope">
                    <div v-html="scope.row.Sunday"></div>
                  </template>
                </el-table-column>
                <el-table-column property="Monday" label="Monday">
                  <template slot-scope="scope">
                    <div v-html="scope.row.Monday"></div>
                  </template>
                </el-table-column>
                <el-table-column property="Tuesday" label="Tuesday">
                  <template slot-scope="scope">
                    <div v-html="scope.row.Tuesday"></div>
                  </template>
                </el-table-column>
                <el-table-column property="Wednesday" label="Wednesday">
                  <template slot-scope="scope">
                    <div v-html="scope.row.Wednesday"></div>
                  </template>
                </el-table-column>
                <el-table-column property="Thursday" label="Thursday">
                  <template slot-scope="scope">
                    <div v-html="scope.row.Thursday"></div>
                  </template>
                </el-table-column>
                <el-table-column property="Friday" label="Friday">
                  <template slot-scope="scope">
                    <div v-html="scope.row.Friday"></div>
                  </template>
                </el-table-column>
                <el-table-column property="Saturday" label="Saturday">
                  <template slot-scope="scope">
                    <div v-html="scope.row.Saturday"></div>
                  </template>
                </el-table-column>
              </el-table>
              <p class="flex"></p>
            </div>

            <div class="r">
              <!-- Schedule -->
              <div class="schedule">
                <div class="title">Schedule</div>
                <p class="tips" @click="dialogFormVisible = true">
                  + Arrange your schedule
                </p>

                <div class="list">
                  <div class="item" v-for="(v, i) in '123456789'">
                    <span>{{i+8}}:00</span>
                  </div>

                  <div class="as work">
                    <span>W</span>
                    <div>
                      <p>Work</p>
                      <p>08:00 - 10:00</p>
                    </div>
                  </div>
                  <div class="as course">
                    <span>C</span>
                    <div>
                      <p>Course</p>
                      <p>11:30 - 14:00</p>
                    </div>
                  </div>
                  <div class="as assessment">
                    <span>A</span>
                    <div>
                      <p>Assessment</p>
                      <p>15:00 - 16:30</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Task Progress -->
              <div class="taskProgress">
                <div class="title">Task Progress</div>

                <div class="qw">
                  <span class="flex-1"></span>
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="bottom-end"
                    popper-class="tooltip"
                  >
                    <div slot="content">
                      <p>User Experience Design Studio</p>
                      <p>Advanced Web Design</p>
                    </div>
                    <p class="tips">Design Programming <span class="el-icon-arrow-down"></span></p>
                  </el-tooltip>
                </div>

                <div class="list">
                  <div class="item" v-for="(v, i) in '1234'"></div>

                  <div class="as feb"><span>Feb</span></div>
                  <div class="as mar"><span>Mar</span></div>
                  <div class="as apr"><span>Apr</span></div>
                  <div class="as may"><span>May</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="phone">
        <div class="header">
          <img src="./img/icon-32.png" alt="" srcset="" @click="hide = true" />
          <img src="./img/logo.png" alt="" srcset="" />
          <img src="./img/icon-45.png" alt="" srcset="" />
        </div>

        <div class="headers" v-if="hide">
          <div class="top">
            <img
              src="./img/icon-44.png"
              alt=""
              srcset=""
              @click="hide = false"
            />
            <img src="./img/icon-46.png" alt="" srcset="" />
            <img src="./img/icon-47.png" alt="" srcset="" />
          </div>
          <div class="con">
            <div>
              <a href="./index.html" class="item"
                ><img src="./img/icon-48.png" alt="" srcset=""
              /></a>
              <a href="./Books.html" class="item"
                ><img src="./img/icon-49.png" alt="" srcset=""
              /></a>
              <a href="./Calendar.html" class="item"
                ><img src="./img/icon-50.png" alt="" srcset=""
              /></a>
            </div>
            <div>
              <a href="./Tasks.html" class="item"
                ><img src="./img/icon-51.png" alt="" srcset=""
              /></a>
              <a href="./Timer.html" class="item"
                ><img src="./img/icon-52.png" alt="" srcset=""
              /></a>
              <img src="./img/icon-53.png" alt="" srcset="" />
            </div>
            <div>
              <a href="./Message.html" class="item"
                ><img src="./img/icon-54.png" alt="" srcset=""
              /></a>

              <p class="search">
                <input type="text" />
                <img src="./img/icon-55.png" alt="" srcset="" />
              </p>
            </div>
            <div class="qw">
              <img src="./img/icon-56.png" alt="" srcset="" />
              <img src="./img/icon-57.png" alt="" srcset="" />
            </div>
          </div>
        </div>
        <div class="l">
          <div class="title">
            <div>June 2022</div>

            <p>
              <span class="red">Study</span>
              <span class="green">Work</span>
              <span>+</span>
            </p>
          </div>
          <el-table :data="calendar" style="width: 100%">
            <el-table-column property="Sunday" label="Sunday">
              <template slot-scope="scope">
                <div v-html="scope.row.Sunday"></div>
              </template>
            </el-table-column>
            <el-table-column property="Monday" label="Monday">
              <template slot-scope="scope">
                <div v-html="scope.row.Monday"></div>
              </template>
            </el-table-column>
            <el-table-column property="Tuesday" label="Tuesday">
              <template slot-scope="scope">
                <div v-html="scope.row.Tuesday"></div>
              </template>
            </el-table-column>
            <el-table-column property="Wednesday" label="Wednesday">
              <template slot-scope="scope">
                <div v-html="scope.row.Wednesday"></div>
              </template>
            </el-table-column>
            <el-table-column property="Thursday" label="Thursday">
              <template slot-scope="scope">
                <div v-html="scope.row.Thursday"></div>
              </template>
            </el-table-column>
            <el-table-column property="Friday" label="Friday">
              <template slot-scope="scope">
                <div v-html="scope.row.Friday"></div>
              </template>
            </el-table-column>
            <el-table-column property="Saturday" label="Saturday">
              <template slot-scope="scope">
                <div v-html="scope.row.Saturday"></div>
              </template>
            </el-table-column>
          </el-table>
          <p class="flex"></p>
        </div>

        <div class="r">
          <!-- Schedule -->
          <div class="schedule">
            <p class="tips">
              <span>Schedule</span>
              <span @click="dialogFormVisible = true"
                >+ Arrange your schedule</span
              >
            </p>

            <div class="list">
              <div class="item" v-for="(v, i) in '123456789'">
                <span>{{i+8}}:00</span>
              </div>

              <div class="as work">
                <span>W</span>
                <div>
                  <p>Work</p>
                  <p>08:00 - 10:00</p>
                </div>
              </div>
              <div class="as course">
                <span>C</span>
                <div>
                  <p>Course</p>
                  <p>11:30 - 14:00</p>
                </div>
              </div>
              <div class="as assessment">
                <span>A</span>
                <div>
                  <p>Assessment</p>
                  <p>15:00 - 16:30</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Task Progress -->
          <div class="taskProgress">
            <div class="tips">
              <span>Task Progress</span>
              <div>
                <el-tooltip
                  class="item"
                  effect="dark"
                  placement="bottom-end"
                  popper-class="tooltip"
                >
                  <div slot="content">
                    <p>User Experience Design Studio</p>
                    <p>Advanced Web Design</p>
                  </div>
                  <p class="tips">Design Programming <span class="el-icon-arrow-down"></span></p>
                </el-tooltip>
              </div>
            </div>

            <div class="list">
              <div class="item" v-for="(v, i) in '1234'"></div>

              <div class="as feb"><span>Feb</span></div>
              <div class="as mar"><span>Mar</span></div>
              <div class="as apr"><span>Apr</span></div>
              <div class="as may"><span>May</span></div>
            </div>
          </div>
        </div>
      </div>
      <el-dialog
        title="Arrange your schedule"
        :visible.sync="dialogFormVisible"
      >
        <el-form :model="form">
          <el-form-item label="Task:" :label-width="formLabelWidth">
            <el-radio-group v-model="form.task">
              <el-radio :label="3">Course</el-radio>
              <el-radio :label="6">Assessment</el-radio>
              <el-radio :label="9">Work</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="Time:" :label-width="formLabelWidth">
            <el-time-picker
              is-range
              v-model="form.time"
              range-separator="to"
              start-placeholder="start time"
              end-placeholder="end time"
              placeholder="Select time range"
            >
            </el-time-picker>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="dialogFormVisible = false"
            >Finish</el-button
          >
        </div>
      </el-dialog>
    </div>

    <!-- Must import vue first, then use element-ui -->
    <script src="./js/vue.js"></script>
    <!-- Import element repository-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>

    <script>
      ELEMENT.locale(ELEMENT.lang.en);

      var app = new Vue({
        el: "#app",
        data: {
          hide: false,
          value: new Date(),
          dialogFormVisible: false,
          form: {
            task: "",
            time: "",
          },
          formLabelWidth: "80px",
          calendar: [
            {
              Sunday: "",
              Monday: "",
              Tuesday: "",
              Wednesday: "",
              Thursday: "",
              Friday: 1,
              Saturday: 2,
            },
            {
              Sunday: 3,
              Monday: `<span class="red">4</span>`,
              Tuesday: `<span class="red">5</span>`,
              Wednesday: 6,
              Thursday: `<span class="red">7</span>`,
              Friday: `<span class="red"></span><span class="green"></span><span class="bg">8</span>`,
              Saturday: 9,
            },
            {
              Sunday: 10,
              Monday: `<span class="red">11</span>`,
              Tuesday: `<span class="red">12</span>`,
              Wednesday: `<span class="green">13</span>`,
              Thursday: `<span class="red">14</span>`,
              Friday: `<span class="red"></span><span class="green">15</span>`,
              Saturday: 16,
            },
            {
              Sunday: 17,
              Monday: `<span class="red">18</span>`,
              Tuesday: `<span class="red">19</span>`,
              Wednesday: `<span class="green">20</span>`,
              Thursday: `<span class="red">21</span>`,
              Friday: `<span class="red"></span><span class="green">22</span>`,
              Saturday: 23,
            },
            {
              Sunday: 24,
              Monday: `<span class="red">25</span>`,
              Tuesday: `<span class="red">26</span>`,
              Wednesday: 27,
              Thursday: `<span class="red">28</span>`,
              Friday: `<span class="red"></span><span class="green">29</span>`,
              Saturday: 30,
            },
          ],
        },
        methods: {},
      });
    </script>
  </body>
</html>
